<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hohohehe.checktracker.mapper.CheckListMapper">

    <resultMap id="CheckListResultMap" type="com.hohohehe.checktracker.domain.CheckList">
        <id property="checkListId" column="check_list_id"/>
        <result property="title" column="title"/>
        <result property="createdAt" column="created_at"/>
        <result property="createdBy" column="created_by"/>
        <result property="modifiedAt" column="modified_at"/>
        <result property="modifiedBy" column="modified_by"/>
    </resultMap>

    <select id="findAll" resultMap="com.hohohehe.checktracker.dto.v1.CheckListDTO">
        SELECT
            check_list_id,
            title,
            created_at,
            u1.user_name as create_user_name,
            modified_at,
            u2.user_name as modify_user_name
        FROM check_list
        LEFT OUTER JOIN users u1 on check_list.created_by = u1.user_seq
        LEFT OUTER JOIN users u2 on check_list.created_by = u2.user_seq
    </select>

    <select id="findById" parameterType="long" resultMap="CheckListResultMap">
        SELECT
            check_list_id,
            title,
            created_at,
            created_by,
            modified_at,
            modified_by
        FROM check_list
        WHERE check_list_id = #{checkListId}
    </select>

    <insert id="save" parameterType="com.hohohehe.checktracker.domain.CheckList">
        INSERT INTO check_list
            (
             check_list_id,
             title,
             created_at,
             created_by,
             modified_at,
             modified_by
            )
        VALUES (
                #{checkListId},
                #{title},
                now(),
                #{createdBy},
                now(),
                #{modifiedBy}
               )
    </insert>
</mapper>